# Kotak Neo API
KOTAK_CONSUMER_KEY=your_value_here
# KOTAK_CONSUMER_SECRET=your_value_here
KOTAK_TOTP_SECRET=your_value_here
KOTAK_MOBILE_NUMBER=your_value_here
KOTAK_UCC=your_value_here
KOTAK_MPIN=your_value_here
